@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root, input, button {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    min-height:100vh;
	display:flex;
	flex-direction:column;
}

.geekzone-header {
    background-color: #000;
    color: white;
    padding: 16px 32px;

    display: flex;
    position: relative;
}

.geekzone-header > .geekzone-logo {
    position: absolute;
    width: 128px;
}

.geekzone-footer > .geekzone-logo {
    width: 200px;
}

.geekzone-header > nav {
    display: flex;
    margin: 0;
    gap: 16px;
}

.geekzone-header > nav > a {
    text-decoration: none;
    color: white;
}

.geekzone-header > nav > a:hover {
    opacity: 0.8;
}

.geekzone-header > nav > a:active {
    opacity: 0.6;
}


.geekzone-footer > nav {
    display: flex;
    margin: 0;
    gap: 16px;

    justify-content: center;
    padding-top: 16px;
}

.geekzone-footer > nav > a {
    text-decoration: none;
    color: white;
}

.geekzone-footer > nav > a:hover {
    opacity: 0.8;
}

.geekzone-footer > nav > a:active {
    opacity: 0.6;
}

.geekzone-footer {
    background-color: #000;
    color: white;
    padding: 16px 32px;

    text-align: center;
    position: relative;
}

.geekzone-container {
    flex-grow: 1;
    width: 1000px;
    padding: 32px 0;
    margin: 0 auto;
}

.geekzone-search-box {
    border: 1px solid #00000025;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    transform: translateY(-32px);

    width: 1000px;
    margin: 0 auto;
    background-color: white;
}

.geekzone-button {
    background-color: #00E676;
    border-radius: 50px;
    border: 0;
    padding: 6px 10px;
}

.geekzone-input {
    outline: none;
    border: 1px solid #00000025;
    padding: 6px 10px;
}

.geekzone-input:hover {
    outline: none;
    border: 1px solid #00000050;
    padding: 6px 10px;
}

.geekzone-input:focus {
    outline: none;
    border: 1px solid #000000aa;
    padding: 6px 10px;
}

.geekzone-button:hover {
    background-color: #0fca70;
    border-radius: 50px;
    border: 0;
    padding: 6px 10px;
    cursor: pointer;
}

.geekzone-button:active {
    background-color: #21b36c;
    border-radius: 50px;
    border: 0;
    padding: 6px 10px;
}

.geekzone-grid-2 {
    gap: 16px;
    display: grid;
    margin-bottom: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.geekzone-grid-2 > div > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}