.geekzone-grid-2 {
    gap: 16px;
    display: grid;
    margin-bottom: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.geekzone-grid-3 {
    gap: 16px;
    display: grid;
    margin-bottom: 8px;
    grid-template-columns: repeat(3, 1fr);
}

.geekzone-grid-4 {
    gap: 16px;
    display: grid;
    margin-bottom: 8px;
    grid-template-columns: repeat(4, 1fr);
}

.geekzone-grid-5 {
    gap: 16px;
    display: grid;
    margin-bottom: 8px;
    grid-template-columns: repeat(5, 1fr);
}

.geekzone-grid-2 > div > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}